{% set iface = custom.iface %}

[Match]
Name={{ custom.ifname }}

[Link]
MTUBytes={{ iface|dict_get_deep("cfg.mtu", 1500) }}

[Network]
{% for ip in iface|dict_get_deep("cfg.addresses.v4.static", []) + iface|dict_get_deep("cfg.addresses.v6.static", []) %}
Address={{ ip }}
{% endfor %}

{% for port in iface.ports|default([]) if NETWORK_CONFIG.interfaces[port].type == "vlan" %}
VLAN={{ port }}
{% endfor %}

{% set route_metric = iface|dict_get_deep("cfg.metric", 100) %}
{% set dhcpv4 = iface|dict_get_deep("cfg.addresses.v4.dhcp_client", False) %}
{% set dhcpv6 = iface|dict_get_deep("cfg.addresses.v6.request_prefix", False) %}
{% set accept_ra = iface|dict_get_deep("cfg.addresses.v6.accept_ra", False) %}
{% if dhcpv4 and dhcpv6 %}
DHCP=yes
{% elif dhcpv4 %}
DHCP=ipv4
{% elif dhcpv4 %}
DHCP=ipv6
{% else %}
DHCP=no
{% endif %}

IPv6AcceptRA={{ "yes" if accept_ra else "no" }}

{% if iface|dict_get_deep("cfg.addresses.v6.prefix_id", None) %}
DHCPPrefixDelegation=yes
IPv6SendRA=yes
{% endif %}

ConfigureWithoutCarrier=yes

[DHCPv4]
UseDNS=no
UseNTP=no
UseHostname=no
UseDomains=no
UseRoutes=yes
UseTimezone=no
RouteMetric={{ route_metric }}

{% if dhcpv6 %}
[DHCPv6]
UseDNS=no
UseNTP=no
UseHostname=no
UseDomains=no
PrefixDelegationHint={{ dhcpv6 }}
RouteMetric={{ route_metric }}
{% endif %}

{% if accept_ra %}
[IPv6AcceptRA]
UseDNS=no
UseDomains=no
{% if dhcpv6 %}
DHCPv6Client=always
{% endif %}
RouteMetric={{ route_metric }}
{% endif %}

{% if iface|dict_get_deep("cfg.addresses.v6.send_ra", False) %}
[DHCPPrefixDelegation]
UplinkInterface={{ iface|dict_get_deep("cfg.addresses.v6.prefix_src", ":auto") }}
SubnetId={{ iface|dict_get_deep("cfg.addresses.v6.prefix_id", "auto") }}
Announce=yes
{% endif %}

{% for vlan in iface.vlans|default([]) %}
[BridgeVLAN]
VLAN={{ vlan }}
{% if vlan == iface.pvid %}
PVID={{ vlan }}
{% endif %}
{% endfor %}
